h1 {color: hsl(336, 100%, 70%);
	font-weight: bold;  
	font:  25pt/2em calibri;
	border: 5px dotted yellow;
	padding: 5px;
	margin: 20px;
	text-align: center}
	
h2	{	color: hsl(336, 100%, 50%);
	font-weight: bold;  
	font:  16pt/2em calibri;
	padding: 5px;
	margin: 5px}
	
h3	{	color: hsl(336, 100%, 40%);
	font-weight: bold;  
	font:  14pt/2em calibri;
	padding: 5px;
	margin: 5px}
	
p1 {	color: black;
	font:  11pt/2em calibri;
	padding: 5px;
	margin: 5px}

p2 {	color: black;
	font:  8pt/2em calibri;
	font-style: Italic;
	padding: 5px;
	margin: 5px}
	
p3 {	color: black;
	font:  8pt/2em Georgia;
	padding: 5px;
	margin: 5px}


img {	width: 250px;
		img-align: center}

		
	
a:link {
    color: hsl(240, 60%, 50%) ;
    background-color: transparent; 
	font : Verdana;
    text-decoration: none;
}

a:visited {
    color: hsl(336, 100%, 40%);
    background-color: transparent;
	font : Verdana;
    text-decoration: none;
}

a:hover {
    color: hsl(336, 100%, 40%);
	font : Verdana;
    background-color: transparent;
    text-decoration: underline;

}


</css>